<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pips.mapper.UserMapper">
    <select id="getUserById" parameterType="java.lang.String" resultType="com.pips.pojo.User">
        SELECT * FROM user WHERE id = #{id}
    </select>

    <select id="getAllUsers" parameterType="String" resultType="com.pips.pojo.User">
        select * from pips.user;
    </select>

    <insert id="addUser" parameterType="com.pips.pojo.User">
        insert pips.user(id, name, password) values (#{id},#{name},#{password});
    </insert>

    <delete id="deleteUser" parameterType="String">
        delete from pips.user where id=#{id};
    </delete>
</mapper>